<!DOCTYPE html>
<html>
  <head>
    <title>ScreeshotReceiver</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).on('turbolinks:load', function() {
        $("#lightgallery").lightGallery();
      })
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
